<form action="/search" method="POST">
<div class="input-group acard">
    <div style="width: 80px;">
        <select name="type" class="form-control btn btn-danger " style="background-color: #f73150;border-top-right-radius: 0;border-bottom-right-radius: 0;">
            <option>课程</option>
            <option>老师</option>
        </select>
    </div>
    <input name="data" type="text" class="form-control" value="思修" style="border: 0px;color: #cc4452;background-color: #ffedf0;text-align: center;">
    <button class="btn btn-danger" type="submit" style="border-top-left-radius: 0;border-bottom-left-radius: 0;background-color: #f73150;width: 80px;">search</button>
</div>
</form>